.menu__link {
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1.26rem;
}
.menu__link:hover{
    text-decoration: underline;
}
#ativo {
    color: #333333;
    font-weight: bold;
}